<%= javascript_pack_tag 'destination' %>

<%=hidden_field_tag 'latitude', @user_home[0] %>
<%=hidden_field_tag 'longitude', @user_home[1] %>
<h2>Plan Your Trip:</h2>
<div class="container">
<div class="trip_form">
<%= form_for @trip, :html => {class: "form-group"}, url: users_trips_path do |f| %>
      <div class="field1">
            <%= f.label :name, "What's the title of your trip?", class: "form_label1" %>
            <%= f.text_field :name, placeholder: "ex. Canadian Roadtrip 2020", class: "form_input1" %>
      </div>
      <%= f.fields_for :destinations do |d| %>
      <div id="destination_group">
            <div id="destination_fields">
            <div class="field1">
                  <%= d.label :leaving_from, "Leaving from: ", class: "form_label1"%>
                  <%= d.text_field :leaving_from, value: current_user.city, class: "form_input1" %>
            </div>
            <div clas="field1">
                  <%= d.label :arriving_to, "Destination: ", class: "form_label1"%>
                  <%= d.text_field :arriving_to, class: "form_input1" %>
            </div>
            <div class="field1">
                  <%= d.label :start_date, "Start date: ", class: "form_label1"%>
                  <%= d.date_field :start_date, class: "form_input1" %>
            </div>
            <div class="field1">
                  <%= d.label :end_date, "End date: ", class: "form_label1"%>
                  <%= d.date_field :end_date, class: "form_input1" %>
            </div>
            </div>
      </div>
            
            <%=link_to "add another stop", "", :onclick => "addFields(); return false"%><br>
      <% end %>

      <%= f.submit "Submit"%>
<% end %>
</div>
      <div id="map"></div>
</div>
