<%= stylesheet_link_tag 'welcome'%>

<%= image_tag "dino-reichmuth-A5rCN8626Ck-unsplash.jpg", class: "img-fluid", alt: "Responsive image" %>

<div class="content">
<% if user_signed_in? %>
    <!--The url is "root_url" because at this stage we didn't establish the Desination routes.-->
    <%= form_for @destination, class: "form-inline", url: root_url do |f| %>
        <h1 class="h1-welcome title">Plan your next trip</h1>
        <div class="row">
            <div class="col">
                <p><%= f.text_field :arriving_to, placeholder: "Which destination would you like to explore next?", class: "form-control form-control-lg", id: "inlineFormInput" %></p>
            </div>
            <p><%= f.submit "Let's go!", id: "btn", class: "btn-welcome btn btn-primary btn-lg"%></p>
        </div>
    <% end %>

<% else !user_signed_in? %>

<div class="acnt">
    <h1 class="h1-welcome">To start planning your trip,<br>you need to have an account!</h1>
    <div class="btn-welcome btn">
    <div class="btn-l">
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn-welcome btn btn-primary btn-lg" %>
    </div>
    <div class="btn-r">
        <%= link_to "Log In", new_user_session_path, class: "btn-welcome btn btn-outline-primary btn-lg" %>
    </div>
    </div>
</div>

<% end %>

<h3 class="sug-place">Suggested Places</h3>
    <div class="card-group card-group-welcome">
    <div class="card">
        <%= image_tag @pic1+".jpg", class: "card-img-top", alt: @pic1 %>
        <div class="card-body">
        <h5 class="card-title"><%=@pic1%></h5>
        </div>
    </div>
    <div class="card">
        <%= image_tag @pic2+".jpg", class: "card-img-top", alt: @pic1 %>
        <div class="card-body">
        <h5 class="card-title"><%=@pic2%></h5>
        </div>
    </div>
    <div class="card">
        <%= image_tag @pic3+".jpg", class: "card-img-top", alt: @pic1 %>
        <div class="card-body">
        <h5 class="card-title"><%=@pic3%></h5>
        </div>
    </div>
    </div>

<% if user_signed_in? %>

<div class="card bg-dark text-white" id="all-trip">
  <%= image_tag "kelly-russo-07lWC8Xf8bY-unsplash.jpg", class: "card-img", alt: "Beach Picture" %>
  <div class="card-img-overlay">
    <h5 class="card-title cardtitle-welcome">All Trips</h5>
    <p class="card-text cardtext-welcome">Click here to view all past and current trips in more detail.</p>
    <div class="btn-l">
    <!--The path for "View Trips" needs to be updated as soon as we have a route to see all trips.-->
        <%= link_to "My trips", users_trips_path, class: "btn-welcome btn btn-info" %>
    </div>
  </div>
</div>

<% end %>

<div class="info">
    <div class="fact">
        <h3 class="fact-h3">Facts about Toronto</h3>
        <p class="class-p"> You may notice some nondescript houses scattered around the town. Funny thing is, they do not have mail boxes, yet they look quaint enough to house something important. Well, they house transformers. It is the Canadian way of telling you that they take their power very seriously.</p>
    </div>

    <div class="fact">
        <h3 class="fact-h3">Facts about Vancouver</h3>
        <p class="class-p">Vancouver is also called “Hollywood of the North”. In North America the city comes second after Los Angeles in TV production and third in feature film production (after Los Angeles and New York). Most productions made in Vancouver are American, whereas most Toronto based productions are Canadian.</p>
    </div>
    
    <div class="fact">
        <h3 class="fact-h3">Facts about Victoria</h3>
        <p class="class-p">CNN, National Geographic, and USA Today have all named Butchart Gardens one of the world’s top gardens. As one of Victoria’s top attractions (and a National Historic Site), it receives nearly one million visitors annually. There’s a variety of landscapes within Butchart Gardens, including the Sunken Garden, Rose Garden, Japanese Garden, Italian Garden, and Mediterranean Garden. It’s also worthwhile visiting in every season; in winter, the garden becomes a Christmas wonderland thanks to thousands of twinkling lights.</p>
    </div>
</div>
</div>

