<%= javascript_pack_tag 'restaurants' %>
<%= stylesheet_link_tag 'places'%>

<%=hidden_field_tag 'latitude', @lat %>
<%=hidden_field_tag 'longitude', @lng %>

<%= image_tag "dan-gold-E6HjQaB7UEA-unsplash", class: "img-fluid" %>

<h1 class="h1-title">Select Your Favourite Restaurant</h1>
<div class="container">
<div class="left-div">
<h3 class="name_dest">Destination city: <%= @destination.arriving_to%></h3>

<%
=begin%>
 <%= form_for @restaurant, url: users_trip_destination_restaurants_path(@trip.id, @destination.id) do |f| %>
          <%= f.label :name, "Restaurant Name" %>
          <%= f.text_field :name, required: true %>
  
    <%= f.submit "Submit", class: "btn btn-primary btn-lg next" %>
<% end %> 
<%
=end%>

<div id="rest_map"></div>
</div>
<div class="right-div">
</div>
</div>