<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <script src="https://kit.fontawesome.com/4b2725782b.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_api_key']%>'></script>
  </head>        
  <body>
    <div id="navback" class="sticky-top">
    <nav class="navbar navbar-lexpand-sm navbar-dark-bg-dark layout-top-nav">
    <li class="nav-item nav-li">
    <%= link_to image_tag("trip_planner.png", :width => "182" ,  alt: "logo",  id: "logo"),
        root_url%>
        </li>
 <li class="nav-item nav-li">
         <a href='/pages/about' class="nav-link nav-layout-opt  navoption">About us<a>
    </li>
     <li class="nav-item nav-li">
         <a href="#" class="nav-link nav-layout-opt navoption">FAQs</a>
    </li>

     <li class="nav-item nav-li">
         <a href='/pages/contact' class="nav-link  nav-layout-opt navoption">Contact Us<a>
    </li>
      <%if current_user%>  
       <li class="nav-item nav-li">
        <%=link_to 'Add Trip', new_users_trip_path, class: "nav-link nav-layout-opt navoption"%>
      </li>
    
    
      <li class="nav-item nav-li dropdown">
        <a class="nav-link nav-layout-opt dropdown-toggle navoption" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome <%= current_user.username%>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to "My Profile", edit_user_registration_path %>
          <div class="dropdown-divider"></div>
          <%= link_to "Change Password", edit_user_password_path %>
         <div class="dropdown-divider"></div>
          <%= link_to "Meal Preference", new_users_meal_preferences_path%>
          <div class="dropdown-divider"></div>
          <%= link_to "My Trips", users_trips_path %>
        </div>
      </li>
      <li class="nav-item nav-li">      
    <%= link_to 'Log Out', destroy_user_session_path, method: "delete", class: "nav-link nav-layout-opt navoption" %> 
    </li>         
  <%else%>
  <li class="nav-item nav-li">
    <%= link_to "Register", new_user_registration_path, class: "nav-link nav-layout-opt navoption",id: "register" %>
    </li>
    <li class="nav-item nav-li">
    <%= link_to "Log In", new_user_session_path, class: "nav-link nav-layout-opt navoption" %>
    </li>
  <%end%>

</nav>
</div>


    <%= yield %>

<%# footer %>
<div class="push"></div>
<footer>
<div class="footer">
  <div class="footer-content">

<%# trying to get logo to show up %>
<div class="footer-section logo">
  <%= link_to image_tag("trip_planner.png", class: "footer-logo"), root_url %>
</div>

<div class="all-contacts">
  <h1 class="footer-title">Connect with Us</h1>
  <div class="footer-section about">
    <div class="contact">
      <p><i class="fas fa-phone-square-alt"></i>&nbsp; (647) 271-1460</p>
      <p><i class="fas fa-envelope"></i>&nbsp; info@adalegit.com</p>
    </div>
  </div>
  <div class="social-media">
    <a href="https://www.facebook.com/AdalegIT/" class="socials fab fa-facebook"></a>
    <a href="https://www.instagram.com/itadaleg/" class="socials fab fa-instagram"></a>
    <a href="https://twitter.com/itadaleg" class="socials fab fa-twitter"></a>
    <a href="https://www.youtube.com/channel/UCWVYb_u2tIHlxrfVKgtUaZQ" class="socials fab fa-youtube"></a>
    <a href="https://www.linkedin.com/company/adaleg-it" class="socials fab fa-linkedin"></a>
  </div>
</div>
    <div class="footer-links">
        <div class="column">
        <ul>
          <li class="links"><a href='/pages/about'>About Us</li>
          <li class="links"><a href='/pages/privacy'>Privacy Policy</li>
          <li class="links"><a href='/pages/terms'>Terms And Conditions</li>
          </ul>
        </div>
        <div class="column">
        <ul>
          <li class="links"><a href='/pages/cookies'>Use Of Cookies</li>
          <li class="links"><a href='/pages/map'>Site Map</li>
          <li class="links"><a href='/pages/contact'>Contact us</li>
          </ul>
        </div>
    </div>
</div>
</div>
  <div class="footer-bottom">
   &copy; tripplanner.com | Designed by: Adaleg IT Class 2020
  </div>

<%# footer %>
</footer>

</body>


</html>


