<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <script src="https://kit.fontawesome.com/4b2725782b.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_api_key']%>'></script>
  </head>        
  <body>
    <nav class="navbar navbar-lexpand-sm navbar-dark-bg-dark">
    <li class="nav=item">
    <%= link_to image_tag("trip_planner.png", :size => "260x180" ,  alt: "logo"),
        root_path %>
        </li>
 <li class="nav-item ">
         <a href='/pages/about' class="nav-link  navoption">About us<a>
    </li>
     <li class="nav-item">
         <a href="#" class="nav-link navoption">FAQs<a>
    </li>
     <li class="nav-item">
         <a href='/pages/contact' class="nav-link nav navoption">Contact Us<a>
    </li>
      <%if current_user%>  
       <li class="nav-item">
       <%=link_to 'Add Trip', users_trip_destinations_path(current_user.trips.first)%>
    </li>
    
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navoption" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome <%= current_user.username%>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to "My Profile", edit_user_registration_path %>
          <div class="dropdown-divider"></div>
          <%= link_to "Change Password", edit_user_password_path %>
         <div class="dropdown-divider"></div>
          <%= link_to "Meal Preference", edit_user_password_path %>
        </div>
      </li>
      <li class="nav-item navoption">      
    <%= link_to 'Log Out', destroy_user_session_path, method: "delete" %> 
    </li>         
  <%else%>
  <li class="nav-item">
    <%= link_to "Register", new_user_registration_path, id: "register" %>
    </li>
    <li class="nav-item">
    <%= link_to "Log In", new_user_session_path %>
    </li>
  <%end%>

</nav>


    <%= yield %>
  </body>

<%# footer %>
<div class="footer">
  <div class="footer-content">

<%# trying to get logo to show up %>
<div class="footer-section logo">
  <%= link_to image_tag("trip_planner.png", :size => "430x280"),
        root_path %>
</div>

    <div class="footer-section about">
       <h1 class="logo-text"><span>Trip</span>Planner</h1>
       <p>
       Trip Planner is ....
       </p>
    <div class="contact">
    <span><i class="fas fa-phone"></i> &nbsp; (647)271-1460</span>
    <span><i class="fas fa-envelope"></i> &nbsp; info@adalegit.com</span>
  </div>
  <div class="socials">
  <h1>Connect with Us</h1>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

    <div class="footer-section links">
      <h2>Quick Links</h2>
      <br>
      <ul>
        <a href='/pages/about'><li>About Us</li>
        </a>
        <a href='/pages/privacy'><li>Privacy Policy</li>
        </a>
        <a href='/pages/terms'><li>Terms And Conditions</li>
        </a>
        <a href='/pages/cookies'><li>Use Of Cookies</li>
        </a>
        <a href='/pages/map'><li>Site Map</li>
        </a>
        </a>
        <a href='/pages/contact'><li>Contact us</li>
        </a>
      </ul>
    </div>

      </form>
  </div>

  <div class="footer-bottom">
   &copy; tripplanner.com | Designed by: Adaleg IT Class 2020

<%# footer %>


</html>


