<%= javascript_pack_tag 'attractions' %>
<%= stylesheet_link_tag 'places'%>

<%=hidden_field_tag 'latitude', @lat %>
<%=hidden_field_tag 'longitude', @lng %>

<h1>Attractions</h1>
<div class="container">
<div class="left-div">
<h1 class="name_dest"><%= @destination.arriving_to%></h1>

<%
=begin%>
 <%= form_for @attraction, url: users_trip_destination_attractions_path(@trip.id, @destination.id) do |f| %>
          <%= f.label :name, "Attraction Place" %>
          <%= f.text_field :name, required: true %>
          <%= f.date_field :date, required: true %>
    <%= f.submit "Submit", class: "btn btn-primary btn-lg next" %>
<% end %> 
<%
=end%>

<div id="rest_map"></div>
</div>
<div class="right-div">
</div>
</div>